@import "../style/helper";

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #040e14;
  >footer{
   text-align: center;
    color: white;
  }
  header {
    background: linear-gradient(90deg, rgba(8, 24, 35, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(8, 24, 35, 1) 100%);
    color: white;
    text-shadow: 0 0 10px #1d393d, 0 0 20px #1d393d, 0 0 30px #1d393d, 0 0 40px #1d393d;
    .nav{
      height: px(61);
      display: flex;
      justify-content: space-between;
      align-items: center;
      .font{
        font-size: px(30);
        text-shadow: 0 0 px(3) white;
      }
      >.clock{
        padding: px(20);
        color: #6d929d;
      }
    }
  }
  >main{
    color: white;
    padding-top: px(30);
    flex: 1;
   display: grid;
    grid-template:
            "box1 box4 box4 box5" 204fr
            "box2 box4 box4 box6" 204fr
            "box3 box4 box4 box7"  204fr / 349fr 349fr 349fr 349fr ;
    grid-column-gap: px(28);
    grid-row-gap: px(28);
    .bordered{
      border: 1px solid #0764bc;
      position: relative;
      box-shadow: 0 0 2px 0 #0f3361,inset 0 0 2px 0  #0f3361;
      background: #0a2727;
      &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       box-shadow:
               21px 0 0 -20px #0f3361,
               -21px 0 0 -20px #0f3361,
               0 21px 0 -20px #0f3361,
               0 -21px 0 -20px #0f3361,
               11px 0 0 -10px #0d4483,
               -11px 0 0 -10px #0d4483,
               0 11px 0 -10px #0d4483,
               0 -11px 0 -10px #0d4483,
      ;

      }
    }
    >.section1{
      grid-area: box1;
    }
    >.section2{
      grid-area: box2;
    }
    >.section3{
      grid-area: box3;
    }
    >.section4{
      grid-area: box4;
      >.statistic{
        display: flex;
        justify-content: space-between;
        >div{
          display: flex;
          align-items: center;
          justify-content: center;
          width: px(186);
          height: px(94);
          flex-direction: column;
          >span{
            font-size: 30px;
          }
        }

      }
    }
    >.section5{
      grid-area: box5;
    }
    >.section6{
      grid-area: box6;
    }
    >.section7{
      grid-area: box7;
    }
    .案发,.时段,.访问,.案件类型,.街道,.趋势{
     height: px(203);
      text-align: center;
      display: flex;
      flex-direction: column;
      >h1{
        flex-shrink: 0;
        background: #0c171b;
        border: 1px solid #0a5299;
        font-size: px(22);
        line-height: px(24);
        text-shadow: 0 0 px(3) white;
      }
      .chart{
        flex: 1;
        width: 100%;
      }
    }
    .时段{
      .chart2{
        flex: 1;
        width: 100%;
      }
    }
    .地图{
      height: px(600);
      display: flex;
      flex-direction: column;
      .chart{
        flex: 1;
        width: 100%;
      }
    }
    .访问{
      .legend {
        height: px(40); display: flex; align-items: center;
        justify-content: center;
        color: #6e7079;
        > span {display: inline-block; width: px(40); height: px(15);
          border-radius: px(4); margin: 0 px(10);}
        .male {background: #33a4fa;}
        .female {background: #8d70f8;}
      }
    }
    .案件类型{
      .legend{
        display: flex; align-items: center;
        justify-content: center;
        color: #6e7079;
        >span{
          display: inline-block;
          width: px(40); height: px(15);
          border-radius: px(4); margin: 0 px(5);
        }
      }
    }
  }

}